.jumbotron{
    text-align: center;
    background-color: rgb(130, 40, 219);
    color: rgb(223, 247, 10);
    font-weight: bold;
}
body{
    background-color: rgb(35, 111, 155);
}
.header{
    text-align: center;
    font-weight: bold;
    color: aquamarine;
}
#author{
    text-align: center;
    font-size: 30px;
    color: chocolate;
}
#git-link{
    color: orchid;
    text-align: center;
}
#image-output{
    width: 300px;
    height: 400px;
}