.jumbotron{
    background-color:#98fa82;
    text-align: center;
    font-weight: bold;
    font-family: 'Ultra',serif;
    border: 5px green solid;
    border-radius: 10px;
}
body{
    font-family: 'Ropa Sans', sans-serif;
    background-image: linear-gradient(to bottom right, #78f5e0, #31bd6b);
}