#real-alert{
    display: inline;
    background-color: cadetblue;
    color: coral;
}
#test-only{
    display: inline;
    background-color: cornflowerblue;
    color: yellow;
    float: right;
}
table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 10px;
}
th,td{
    background-color: aquamarine;
}